<html>
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <h1>Email at: mihirsheth95@gmail.com</h1>
        <h1>Contact no: 9601124848</h1>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
